* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
}
header {
    height: 125px;
}
.logo {
    position: absolute;
    float: left;
    margin-left: 250px;
    margin-top: 140px;
}
nav {
    float: left;
    width: 80%;
    position: absolute;
    margin-top: 160px;
    margin-left: 500px;
    font-size: 15px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.nav-item {
    float: left;
    margin-left: 70px;
    color:black;
}
.title {
    float: left;
    margin-left: 400px;
    color:black;
    position: absolute;
    margin-top: 400px;
    font-size: 25px;
}
.cell {
    float: left;
    margin-left: 400px;
    color:black;
    position: absolute;
    text-align: center;
    margin-top: 500px;
    font-size: 11px;
    background: orange;
    border-radius: 20px;
    width: 90px;
    height: 30px;
}
main {
    height: 600px;
    width: 100%;
}

.preview {  
    background-image: url(hero.jpg) ;
     background-size: cover;
     background-position: center;
     height: 100vh;
     background-attachment: fixed;
     opacity: 0.4;
}
h1 {
    float: left;
    margin-left: 380px;
    color:black;
    position: absolute;
    margin-top: 50px;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Thasadith', sans-serif;
}
h2 {
    float: left;
    margin-left: 180px;
    color:black;
    position: absolute;
    margin-top: 200px;
    font-size: 18px;
    font-weight: lighter;
}
h3 {
    float: left;
    margin-left: 420px;
    color:black;
    position: absolute;
    margin-top: 200px;
    font-size: 18px;
    font-weight: lighter;
}
h4{
    float: left;
    margin-left: 650px;
    color:black;
    position: absolute;
    margin-top: 200px;
    font-size: 18px;
    font-weight: lighter;
}
h5{
    float: left;
    margin-left: 870px;
    color:black;
    position: absolute;
    margin-top: 200px;
    font-size: 18px;
    font-weight: lighter;
}
.foodfast {
    float: left;
    margin-left: 330px;
    color:black;
    position: absolute;
    margin-top: 100px;
    font-size: 14px;
    font-weight: lighter;
}
.text1 {
    float: left;
    margin-left: 180px;
    color:black;
    position: absolute;
    word-wrap: break-word;
    width: 200px;
    margin-top: 230px;
    font-size: 12px;
    font-weight: lighter;
}
.text2 {
    float: left;
    margin-left: 420px;
    color:black;
    position: absolute;
    word-wrap: break-word;
    width: 200px;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 230px;
}
.text3 {
    float: left;
    margin-left: 650px;
    color:black;
    position: absolute;
    word-wrap: break-word;
    width: 200px;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 230px;
}
.text4 {
    float: left;
    margin-left: 870px;
    color:black;
    position: absolute;
    word-wrap: break-word;
    width: 200px;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 230px;
}